<h1 class="text-center">Python Sets</h1>

<img src="images/python-sets.jpg">

A set is a collection which is **unordered**, **unchangeable**, and **unindexed**.

<div class="alert alert-warning d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
  <div>
      <strong>Note:</strong> Set items are unchangeable, but you can remove items and add new items.
  </div>
</div>

In [3]:
#Sets are written with curly brackets.


thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

<ul>
    <li>Unordered means that the items in a set do not have a defined order.</li>
    <li>Set items can appear in a different order every time you use them, and cannot be referred to by index or key.</li>
    <li>Sets cannot have two items with the same value.</li>
</ul>

Duplicate values will be ignored:

In [5]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

A set can contain different data types:

In [6]:
set1 = {"abc", 34, True, 40, "male"}

### Access Items

You **cannot** access items in a set by referring to an index or a key.

But you can loop through the set items using a <mark>for</mark> loop, or ask if a specified value is present in a set, by using the <mark>in</mark> keyword.

In [7]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
banana
apple

## Add Items

To add one item to a set use the add() method.

In [13]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

To add items from another set into the current set, use the update() method.

In [15]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'banana', 'mango', 'papaya', 'apple', 'pineapple'}

**Note :** The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

## Remove Set Items

To remove an item in a set, use the **remove()** , or the **discard()** method.

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

The **clear()** method empties the set:

In [18]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

The del keyword will delete the set completely:

In [19]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined